.topfortitle{
    width: 100%;
    background-color: rgb(203, 202, 255);
}

.toptitle{
    font-size: 30px;
    text-align: center;
    background-color: rgb(158, 157, 255);
    border-radius: 0px 0px 20px 20px;
}

.navbb{
    text-align: center;
    font-weight: bold;
    padding-top: 1vw;
    float: right;
}

.links{
    color: black;
    font-size: 17px;
}

.largepageelement{
    padding-top: 20px;
}

.subtitle{
    font-size: 30px;
    text-align: center;
}

.txtforpfimg{
    background-color: cornflowerblue;
    position: relative;
    bottom: 90px;
    text-align: center;
}